.red-text {
    color: red;
}
.green-text {
    color: green;
}

.pass-badge {
    color: black;
    background-color: green;
    font-weight: bold;
}

.fail-badge {
    color: black;
    background-color: red;
    font-weight: bold;
}

  